.Player {
	z-index: 3;
	position: absolute;
	top: 0;
	left: 0;
	width: 5em;
	height: 6em;
	background-image: url('../images/KanyeWest.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	transform: translateZ(0);
}


.Scoreboard {
	z-index: 4;
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	background-image: url('../images/paparazzi.jpg');
	text-align: center;
	-webkit-transform: translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	-webkit-transform: none;
}

.Scoreboard-restart {
	margin-top: 20em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid white;
	background: black;
	cursor: pointer;
}
.Scoreboard-restartText {
font-family: 'Comic Sans MS', serif;
font-size: 2.4em;
color: white;
}
body {
background: black;
}

.browsehappy {
margin: 0.2em 0;
background: ?#?ccc?;
color: #000;
padding: 0.2em 0;
}

.GameCanvas {
z-index: 0;
font-size: 10px;
position: absolute;
left: 50%;
top: 50%;
width: 102.4em;
height: 57.6em;
margin-left: -51.2em;
margin-top: -28.8em;
overflow: hidden;
background: url('../images/lmao.jpg');
background-size: auto 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.Ground {
	z-index: 1;
	position: absolute;
	height: 15em;
	right: -64em;
	left: 0;
	bottom: 0;
	background: url('../images/ground.png') repeat-x;
	background-size: auto 100%;
	
	
	-webkit-animation: slide;
	-webkit-animation-timing-function: linear;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	transform: translateZ(0);
}

.CityLandscape {
	z-index: 0;
	position: absolute;
	height: 53em;
	right: -184.8em;
	left: 0;
	background: url('../images/cityLandscape.png') repeat-x;
	background-size: auto 100%;
	-webkit-animation: citylandscape;
	-webkit-animation-timing-function: linear;
	-webkit-animation-duration: 25s;
	-webkit-animation-iteration-count: infinite;
	transform: translateZ(0);
}

@keyframes slide {
	0% {
		transform: translateZ(0) translateX(0);
	}
	100% {
		transform: translateZ(0) translateX(-64em);
	}
}

@-webkit-keyframes citylandscape {
	0% {
		transform: translateZ(0) translateX(0);
	}
	100% {
		transform: translateZ(0) translateX(-184.8em);
	}
}


.Pipe {

}
