.Player {
	z-index: 3;
	position: absolute;
	top: 0;
	left: 0;
	width: 5em;
	height: 6em;
	background-image: url('../images/KanyeWest.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	transform: translateZ(0);
}

.Cap {
	z-index: 3;
	position: absolute;
	top: -2em;
	left: 0.5em;
	width: 100%;
	height: 75%;
	object-fit: contain;
	background-size: 700%;
	background-image: url('../images/hat.png');
	animation: play .05s steps(7) infinite;
	transform: translateZ(0);
}

.Scoreboard {
	z-index: 4;
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	border-radius: 1.2em;
	background-image: url('../images/papaflash.gif');
	text-align: center;
	-webkit-transform: translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	-webkit-transform: none;
}

.Scoreboard-restart {
	border-radius: 1.2em;
	float:center;
	margin-top: 8em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid white;
	background: black;
	cursor: pointer;
}

.Scoreboard-restartText {
	font-family: Helvetica, sans-serif;
	font-size: 2.4em;
	color: white;
}

body {
	background: black;
}

.browsehappy {
	margin: 0.2em 0;
	background: ?#?ccc?;
	color: #000;
	padding: 0.2em 0;
}

.GameCanvas {
	z-index: 0;
	font-size: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 102.4em;
	height: 57.6em;
	margin-left: -51.2em;
	margin-top: -28.8em;
	overflow: hidden;
	background: url('../images/lmao.jpg');
	background-size: auto 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.Ground {
	z-index: 2;
	position: absolute;
	top: 43.5em;
	height: 25em;
	width: 324em;
	background: url('../images/ground1.png') repeat-x;
	background-size: 36em;
	animation: slide 7.5s linear infinite;
	transform: translateZ(0);
}

.CityLandscape {
	z-index: 1;
	position: absolute;
	height: 31em;
	width: 324em;
	top: 22em;
	background: url('../images/cityLandscape.png') repeat-x;
	background-size: 108em;
	animation: slideBG 60s linear infinite;
	transform: translateZ(0);
}

.PipeBelow {
	z-index: 3;
	position: absolute;
	bottom: -18.5em;
	width: 11.5em;
	height: 37em;
	background: url('../images/micPipeBelow.png') no-repeat;
	background-size: auto 100%;
	transform: translateZ(0);
}

.PipeAbove {
	z-index: 3;
	position: absolute;
	top: -18.5em;
	width: 11.5em;
	height: 37em;
	background: url('../images/micPipeAbove.png') no-repeat;
	background-size: auto 100%;
	transform: translateZ(0);
}


.isVolumeOn {
	position: relative;
	z-index: 100;
	color: black;
	font-size: 1.5em;
	font-weight: bold;
	float: right;
	margin: 1em;
}

.highscore {
	color: red;
	font-weight: bold;
	font-size: 3em;
}

.score {
	color: red;
	font-weight: bolder;
	font-size: 2em;
}

.text {
	color: white;
	font-weight: bold;
}

@-webkit-keyframes play {
	from { background-position: 0; }
	to { background-position:  700%; }
}
@-moz-keyframes play {
	from { background-position: 0; }
	to { background-position:  700%; }
}
@-o-keyframes play {
	from { background-position: 0; }
	to { background-position:  700%; }
}
@keyframes play {
	from { background-position: 0; }
	to { background-position:  700%;}
}

@-webkit-keyframes slide {
	0% { transform: translate3d(0, 0, 0); }
	100% { transform: translate3d(-108em, 0, 0); }
}
@-moz-keyframes slide {
	0% { transform: translate3d(0, 0, 0); }
	100% { transform: translate3d(-108em, 0, 0); }
}
@-o-keyframes slide {
	0% { transform: translate3d(0, 0, 0); }
	100% { transform: translate3d(-108em, 0, 0); }
}
@keyframes slide {
	0% { transform: translate3d(0, 0, 0); }
	100% { transform: translate3d(-108em, 0, 0); }
}

@-webkit-keyframes slideBG {
	0% {  transform: translate3d(0, 0, 0); }
	100% { transform: translate3d(-108em, 0, 0); }
}
@-moz-keyframes slideBG {
	0% {  transform: translate3d(0, 0, 0); }
	100% { transform: translate3d(-108em, 0, 0); }
}
@-o-keyframes slideBG {
	0% {  transform: translate3d(0, 0, 0); }
	100% { transform: translate3d(-108em, 0, 0); }
}
@keyframes slideBG {
	0% {  transform: translate3d(0, 0, 0); }
	100% { transform: translate3d(-108em, 0, 0); }
}
